[scripts]
main = "python src/main.py"
tools = "python src/tools.py"
agent = "python src/agent.py"
tts = "python src/tts.py"

[packages]
langchain = "*"
langchain-community = "*"
langchain-ollama = "*"
beautifulsoup4 = "*"
wikipedia = "*"
google-api-python-client = "*"
langchain-openai = "*"
langgraph = "*"
langchain-huggingface = "*"
ipython = "*"
playsound = "*"
pyobjc = "*"
langchain-anthropic = "*"
uvicorn = "*"
fastapi = "*"

[dev-packages]
ipykernel = "*"
